#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  box-sizing: border-box;
}

/* STYLES FOR BUSINESS CARD */

img {
  width: 100%;
  display: block;
}

.card-container {
  width: 100%;
  width: 300px;
  height: 360px;
  border: 2px solid green;
  margin: 10PX 10px;
}

.info-container {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}

.location-container {
  text-align: left;
}

.rating-container {
  text-align: right;
}

.state-zip {
  margin-left: 5px;
}


h1 {
  font-size: 30px;
  margin: 5px 5px;
}

p {
  margin: 5px 5px;
}

.txt {
  font-size: 16px;
}

.golden {
  color: gold;
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

/* STYLE APP.JSX */

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}