#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  box-sizing: border-box;
}

/* STYLE CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid green;
  margin-top: 50px;
}